<div class="step1">
  <h1>Step 1: Choose your model and color</h1>

  <form>
    <mat-form-field>
      <mat-label>Model</mat-label>
      <select
        matNativeControl
        id="modelSelect"
        name="model"
        [(ngModel)]="selectedModelCode"
        required
        (change)="onModelChange()"
      >
        @for (model of models; track model.code) {
        <option [value]="model.code">
          {{ model.description }}
        </option>
        }
      </select>
    </mat-form-field>

    @if (selectedModel != null) {
    <mat-form-field>
      <mat-label>Color</mat-label>
      <select
        matNativeControl
        id="colorSelect"
        required
        name="color"
        [(ngModel)]="selectedColor"
        (change)="onColorChange()"
      >
        @for (color of selectedModel.colors; track color.code) {
        <option [value]="color.code">{{ color.description }}</option>
        }
      </select>
    </mat-form-field>
    }
  </form>
</div>
